<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link rel="stylesheet" href="../public/administracion.css">
</head>
<body>

    <main>
        <article class="administracion">
            <ul>
                <li><a href="#">Autos</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Alquileres</a></li>
                <li><a href="#">Multas</a></li>
                <li><a href="#">Configuracion</a></li>
            </ul>
        </article>

        
    </main>
</body>

<footer>

</footer>
</html>