<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <img src="" alt="img">
        <a class="login"> Login </a>

    </header>
    <main>
        <div class="banner">

        </div>

        <div class="marcas">
            <div class="marca"></div>
             <div class="marca"></div>
              <div class="marca"></div>
               <div class="marca"></div>
        </div>

        <div class="recomendados">
            <div class="box-rec"><img src="" alt="img"></div>
            <div class="box-rec"><img src="" alt="img"></div>
            <div class="box-rec"><img src="" alt="img"></div>
            <div class="box-rec"><img src="" alt="img"></div>
            <div class="box-rec"><img src="" alt="img"></div>
        </div>

        <div class="planes">
            <div class="box-planes">
                <div class="plan plan1"></div>
            </div>
            <div class="box-planes">
                <div class="plan plan2"></div>
            </div>
            <div class="box-planes">
                <div class="plan plan3"></div>
            </div>
        </div>
    </main>
</body>
<footer>
    
</footer>
</html>