<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" href="../public/registro.css">
</head>

<body>

   <div class="titulo">
    <button type="button" class="btn-volver" onclick="location.href='index.html'">←</button>
    <h1>Thames Car</h1>
  </div>

  <h2>Crea tu cuenta y encontra te vehiculo ideal</h2>

  <div class="registro">

<form action="../src/DB/registrar.php" method="post">

      <label for="nombre">Nombre</label><br>
      <input type="text" id="nombre" name="nombre" required placeholder="Ingresa tu nombre"><br><br>

      <label for="apellido">Apellido</label><br>
      <input type="text" id="apellido" name="apellido" required placeholder="Ingresa tu apellido"><br><br>

      <label for="email">Correo electrónico</label><br>
      <input type="email" id="email" name="email" required placeholder="Ingresar correo electrónico"><br><br>

      <label for="ciudad">Ciudad</label><br>
      <select id="ciudad" name="ciudad" required>
        <option value="San Nicolás de los Arroyos">San Nicolás de los Arroyos</option>
      </select><br><br>

      <label for="direccion">Dirección</label><br>
      <input type="text" id="direccion" name="direccion" required placeholder="Ingresar direccion"><br><br>

      <label for="password">Contraseña</label><br>
      <input type="password" id="password" name="password" required placeholder="Contraseña">
      <button type="button" onclick="togglePassword('password')">👁️</button><br><br>

      <label for="confirmar">Confirmar contraseña</label><br>
      <input type="password" id="confirmar" name="confirmar" required placeholder="Contraseña">
      <button type="button" onclick="togglePassword('confirmar')">👁️</button><br><br>

      <input class="boton" type="submit" value="Registrarse">

    </form>
  </div>

  <footer class="pie-pagina">
    <p>&copy; 2025 Concesionaria de Autos. Todos los derechos reservados.</p>
  </footer>



  <!-- Script de auntentificacion de contrasela y boton para ver contraseña -->


  <script>
    function togglePassword(id) {
      const input = document.getElementById(id);
      input.type = input.type === 'password' ? 'text' : 'password';
    }

    function validarContrasenas() {
      const pass1 = document.getElementById('password').value;
      const pass2 = document.getElementById('confirmar').value;

      if (pass1 !== pass2) {
        alert('Las contraseñas no coinciden.');
        return false; // Previene el envío del formulario
      }
      return true;
    }
  </script>

</body>

</html>