body{
    background-color: #0C1324;
    margin: 0;
}
.titulo{
    background-color: #050C20;
    display: flex;
    gap: 20%;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

h1{
    color: #357ABD;
}

.btn-volver {
    background: #151B2D;   /* sin fondo */
    border: none;       /* sin borde */
    font-size: 20px;    /* tamaño de la flecha */
    cursor: pointer;    /* cursor de mano */
    padding: 15px;       /* un poco de espacio */
}

.tabla{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th, td {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center;
    background-color: #e0e0e0;
}