   nav.login {
      position: relative;
      display: inline-block;
    }

    .user-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }

    .user-btn img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
    }

    .arrow {
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }

    .dropdown {
      position: absolute;
      right: 0;
      top: 50px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 15px;
      width: 200px;
      display: none;
      z-index: 100;
    }

    .dropdown.show {
      display: block;
    }

    .dropdown p {
      margin: 0 0 10px 0;
      font-weight: bold;
      color: #333;
    }

    .logout-btn {
      width: 100%;
      background-color: #f44336;
      color: white;
      border: none;
      padding: 8px 0;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background 0.3s;
      margin: 1px;
    }
    .admin-btn{
       width: 100%;
      background-color: #696a6b;
      color: white;
      border: none;
      padding: 8px 0;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background 0.3s;
      margin: 1px;
    }
    .logout-btn:hover {
      background-color: #d32f2f;
    }