
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
 --azul : #003366;
 --azultransparente: #003366d0;
 --fondo: #e7e7e7;
 --tarjetas: #f9f9f9;
 --naranja: #eca758;
}
